
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


body {
  background:  blue url("maxresdefault.jpg") center/ contain no-repeat;
}

#a1 {
  background: rgb(256, 0, 0, 65%);
  /* height: %; */
  text-align: center;
  /* vertical-align: middle; */
  padding: 45%
  
